.background {
  width: 100%;
  background: url('https://ad-college.vercel.app/main/main_background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.background:before {
  content: '';
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('https://ad-college.vercel.app/main/main_background.png')
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.intro {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  background: url('https://ad-college.vercel.app/main/main_intro.png');
  background-size: 100% calc(100vw * 1.08);
  background-position: top;
  background-repeat: no-repeat;
}

.pageLayout {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}

.firstbackground {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://ad-college.vercel.app/main/main_snow.png');
  background-size: 63vw 40vw;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.secondbackground {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://ad-college.vercel.app/main/main_snow.png');
  background-size: 63vw 40vw;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.thirdbackground {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://ad-college.vercel.app/main/main_snow.png');
  background-size: 63vw 40vw;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.fourthbackground {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://ad-college.vercel.app/main/main_snow.png');
  background-size: 63vw 40vw;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.fifthbackground {
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('https://ad-college.vercel.app/main/main_snow.png');
  background-size: 63vw 40vw;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;

  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.firsttext {
  max-width: 1200px;
  max-height: 92px;
  width: 80vw;
  height: 6vw;
  margin-bottom: 5vh;
  background: url('https://ad-college.vercel.app/main/main_first_text.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.firstletter {
  max-width: 1027px;
  max-height: 584px;
  width: 70vw;
  height: 40vw;
  background: url('https://ad-college.vercel.app/main/main_first_letter.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  animation: fadein 1.5s;
  -moz-animation: fadein 1.5s; /* Firefox */
  -webkit-animation: fadein 1.5s; /* Safari and Chrome */
  -o-animation: fadein 1.5s; /* Opera */
}

.secondtext {
  max-width: 845px;
  max-height: 95px;
  width: 60vw;
  height: 6.75vw;
  margin-bottom: 3.4vw;
  background: url('https://ad-college.vercel.app/main/main_second_text.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.thirdtext {
  max-width: 943px;
  max-height: 152px;
  width: 65vw;
  height: 10.6vw;
  margin-bottom: 5.3vw;
  background: url('https://ad-college.vercel.app/main/main_third_text.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.fourthtext {
  max-width: 715px;
  max-height: 610px;
  width: 55vw;
  height: 45vw;
  z-index: 1;
  margin-bottom: 5.3vw;
  background: url('https://ad-college.vercel.app/main/main_fourth_text.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.fifthtext {
  max-width: 578px;
  max-height: 94px;
  width: 45vw;
  height: 7.3vw;
  margin-bottom: 5.3vw;
  background: url('https://ad-college.vercel.app/main/main_fifth_text.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.sixthcategory {
  width: 100vw;
  height: 445vw !important;
  background: url('https://ad-college.vercel.app/main/main_category.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes fadein {
  0% {
    transform: translateY(-3vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-3vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  0% {
    transform: translateY(-3vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-3vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  0% {
    transform: translateY(-3vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-3vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  0% {
    transform: translateY(-3vh);
    opacity: 0;
  }
  50% {
    transform: translateY(-3vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
