.container {
  width: 100%;
  background: url('/team/3/background.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.frame {
  width: 80vw;
  height: 120vw;
  display: flex;
  margin: auto;
  border: none;
}

.preview {
  display: flex;
  margin: auto;
}

.pack_in {
  display: flex;
  margin: auto;
  z-index: 1;
  position: relative;
  max-width: 1064px;
  max-height: 252px;
  width: 90vw;
  height: 21.3vw;
}

.pack_out {
  display: flex;
  margin: auto;
  z-index: 3;
  position: relative;
  max-width: 1064px;
  width: 90vw;
  max-height: 332px;
  height: 28vw;
}

.ticket {
  display: flex;
  margin: auto;
  z-index: 2;
  position: relative;
  max-width: 973px;
  width: 82.3vw;
  max-height: 363px;
  height: 30.7vw;
}

.scroll_wrapper {
  margin-bottom: 300px;
}
